<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.smartedu" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".Tasks" />
        <activity android:name=".NewTask" />
        <activity
            android:name=".SplashScreen"
            android:label="@string/title_activity_splash_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".Students"
            android:label="@string/title_activity_students" >
        </activity>
        <activity
            android:name=".NewStudent"
            android:label="@string/title_activity_new_student" >
        </activity>
        <activity
            android:name=".StudentInfo"
            android:label="@string/title_activity_student_info" >
        </activity>
        <activity
            android:name=".Role"
            android:label="@string/title_activity_role" >
        </activity>
        <activity
            android:name=".AddRole"
            android:label="@string/title_activity_add_role"
            android:parentActivityName=".Role" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dell.smartedu.Role" />
        </activity>
        <activity
            android:name=".ChooseRole"
            android:label="@string/title_activity_choose_role"
            android:parentActivityName=".Role" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dell.smartedu.Role" />
        </activity>
        <activity
            android:name=".student_home_activity"
            android:label="@string/title_activity_student_home_activity" >
        </activity>
        <activity
            android:name=".parent_home_activity"
            android:label="@string/title_activity_parent_home_activity" >
        </activity>
        <activity
            android:name=".BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>
        <activity
            android:name=".NewEvent_Teacher"
            android:label="@string/title_activity_new_event__teacher" >
        </activity>
        <activity
            android:name=".teacher_classes"
            android:label="@string/title_activity_teacher_classes" >
        </activity>
        <activity
            android:name=".Schedule"
            android:label="@string/title_activity_schedule" >
        </activity>
        <activity
            android:name=".AddAttendance"
            android:label="@string/title_activity_add_attendance"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dell.smartedu.MainActivity" />
        </activity>
        <activity
            android:name=".AddAttendance_Students"
            android:label="@string/title_activity_add_attendance__students"
            android:parentActivityName=".AddAttendance" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dell.smartedu.AddAttendance" />
        </activity>
        <activity
            android:name=".AddMarks"
            android:label="@string/title_activity_add_marks" >
        </activity>
        <activity
            android:name=".teacher_exams"
            android:label="@string/title_activity_teacher_exams" >
        </activity>
        <activity
            android:name=".teacher_newexam"
            android:label="@string/title_activity_teacher_newexam" >
        </activity>
        <activity
            android:name=".teacher_marks_studentlist"
            android:label="@string/title_activity_teacher_marks_studentlist" >
        </activity>
        <activity
            android:name=".UploadMaterial"
            android:label="@string/title_activity_upload_material"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dell.smartedu.MainActivity" />
        </activity>
        <activity
            android:name=".UploadImage"
            android:label="@string/title_activity_upload_image"
            android:parentActivityName=".UploadMaterial" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dell.smartedu.UploadMaterial" />
        </activity>
        <activity
            android:name=".student_exams"
            android:label="@string/title_activity_student_exams"
            android:parentActivityName=".student_home_activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dell.smartedu.student_home_activity" />
        </activity>
        <activity
            android:name=".UploadMaterial_students"
            android:label="@string/title_activity_upload_material_students"
            android:parentActivityName=".student_home_activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dell.smartedu.student_home_activity" />
        </activity>
        <activity
            android:name=".UploadImage_students"
            android:label="@string/title_activity_upload_image_students"
            android:parentActivityName=".UploadMaterial_students" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dell.smartedu.UploadMaterial_students" />
        </activity>
        <activity
            android:name=".teacher_message"
            android:label="@string/title_activity_teacher_message" >
        </activity>
        <activity
            android:name=".message_read"
            android:label="@string/title_activity_view_messages" >
        </activity>
        <activity
            android:name=".view_messages"
            android:label="@string/title_activity_view_messages" >
        </activity>
        <activity
            android:name=".AddAttendance_everyday"
            android:label="@string/title_activity_add_attendance_everyday"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dell.smartedu.MainActivity" />
        </activity>
        <activity
            android:name=".view_attendance"
            android:label="@string/title_activity_view_attendance" >
        </activity>
        <activity
            android:name=".message_to_teacher"
            android:label="@string/title_activity_message_to_teacher" >
        </activity>
    </application>

</manifest>
